<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/MemberDetails.css">
    <title>Client Membership Card</title>
</head>
<body>
    <div class="card-container">
        <div class="card-content">
            <h2 class="company-name">Rashi</h2>
            <div class="card-holder">
                <p>Rahul A</p>
                <p>12/30</p>
            </div>
            <p class="card-number">XXXX XXXX XXXX 3452</p>
            <div class="card-balance">
                <p>2400/4500</p>
                <div class='Rashi-notify'>Rashi</div>
            </div>
        </div>

        <div class='Clientmembercard-container-checkin'>
            <button>Book Now</button>
        </div>

        <div class='membership-clients-details'>
            <div class='membership-clients-details-heading'>Member Info</div>
            <div class='mambership-own-details-container'>
                <div class='Membership-name-container'>
                    <p class='member-name-h'>Member Name :</p>
                    <p>Anirudh Rawat</p>
                </div>
                <div class='Membership-Dob-container'>
                    <p class='member-Dob-h'>Date Of Birth :</p>
                    <p>June 02 1999</p>
                </div>
                <div class='Membership-phone-container'>
                    <p class='member-phone-h'>Phone Number :</p>
                    <p>+91 9876543210</p>
                </div>
                <div class='Membership-id-container'>
                    <p class='member-id-h'>Member ID :</p>
                    <p>0K87H543</p>
                </div>
                <div class='Membership-validity-container'>
                    <p class='member-validity-h'>Validity :</p>
                    <p>May 25</p>
                </div>
                <div class='Membership-package-container'>
                    <p class='member-package-h'>Package :</p>
                    <p>Explore</p>
                </div>
                <div class='Membership-points-container'>
                    <p class='member-points-h'>Remaining Points :</p>
                    <p>750/1200</p>
                </div>
            </div>

            <div class='membership-family-heading'>Family Info</div>
            <div class='Membership-Family-members'>
                <ul>
                    <li><span>Family member 01</span> : Sonali</li>
                    <li><span>Family member 02</span> : Abhay</li>
                    <li><span>Family member 03</span> : Sam</li>
                    <li><span>Family member 04</span> : Manisha</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
